.ListItem {
    display: flex;
    color: rgb(219, 219, 219);
    padding: 20px 14px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: #d3d1d11a;
    }

    .firstColumn {
        width: 10%;
    }

    .secondColumn {
        width: 50%;
        display: flex;
        align-items: center;

        .symbol {
            font-weight: 500;
            font-size: 17px;
            // padding-left: 10px;
        }

        .nameOfCurrency {
            font-size: 14px;
            padding-left: 4px;
            line-height: 10px;
            font-weight: 400;
        }
    }

    .thirdColumn,
    .fourthColumn {
        width: 20%;
        text-align: right;
        font-weight: 500;
    }

    .reportIcon {
        width: 22px;
        height: 22px;

        &:hover {
            opacity: .3;
            transition: .2s;
        }
    }
}