.ListOfCrypto {
    background: linear-gradient(0deg, #1a1d2a, #1c1f2e), #ebeef6;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    padding: 20px 9rem;

    .ul {
        width: 800px;
        margin: 0 auto;
    }

    .tableHeader {
        display: flex;
        font-size: 14px;
        color: rgb(219, 219, 219);
        margin: 10px 0;
        padding: 0 14px;

        .firstColumn {
            width: 10%;
        }

        .secondColumn {
            width: 50%;
        }

        .thirdColumn,
        .fourthColumn {
            width: 20%;
            text-align: right;
        }
    }
}

@media (max-width: 1090px) {
    .ListOfCrypto {
        padding: 20px 6rem;

        .ul {
            width: 100%;
        }
    }

}

@media (max-width: 750px) {
    .ListOfCrypto {
        padding: 20px 3rem;


        .tableHeader {
            .firstColumn {
                width: 15%;
            }

            .thirdColumn {
                width: 30%;
            }
        }
    }
}

@media (max-width: 520px) {
    .ListOfCrypto {
        padding: 20px 1rem;
    }
}